{##
 # Content that comes after the body content.
 #}

<div class="row footer">
    <div class="col-xs-9">
        <a href="http://github.com/ashinpaugh">
            Created by Austin Shinpaugh
        </a>
    </div>
    
    <div class="col-xs-3 text-center">
        <span class="hidden-xs">Copyright</span> &copy; {{ 'now'|date('Y') }}
    </div>
</div>

{% include 'components/scripts.html.twig' %}
