<meta charset="UTF-8" />

<title>{% block title %}Austin's Movie Manager{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% include 'components/stylesheets.html.twig' %}

{% block stylesheets %}{% endblock %}