@import 'review-stars.less';

.top-nav {
  //background: #1919d2;
  //color: #FFF;
  border-radius: 15px;
  margin-bottom: 2em;
  
  .nav-items {
    margin-top: 0.5em;
    
    h4 {
      margin-top: 0;
    }
  }
}

/**
 * @see https://css-tricks.com/star-ratings/
 */
#frm-create {
  #rating {
    input {
      display: none;
    }
    
    /*unicode-bidi: bidi-override;
    direction: rtl;
  
    & > span {
      display: inline-block;
      position: relative;
      width: 1.1em;
    }
    & > span:hover:before,
    & > span:hover ~ span:before {
       content: "\2605";
       position: absolute;
    }*/
    
  }
}

.body-wrapper {
  width: 85%;
  
  .available-movies {
    margin-top: 2em;
    
    .movie-tile {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  
  .credentials { 
    #frm-signup {
      display: none;
    }
    
    .actions {
      float:right;
      margin-top:0.5em
    }
  }
}
