@import 'review-stars.less';

.top-nav {
  border-radius: 15px;
  margin-bottom: 2em;
  
  .nav-items {
    margin-top: 0.5em;
    
    h4 {
      margin-top: 0;
    }
  }
}

/**
 * @see https://css-tricks.com/star-ratings/
 */
#frm-create {
  #rating {
    input {
      display: none;
    }
  }
}

.body-wrapper {
  width: 85%;
  
  .available-movies {
    margin-top: 2em;
    
    .movie-tile {
      .other-owner {
        height: 30px;
        line-height: 25px;
        border-radius: 25px;
        background: #CCC;
        
        span {
          font-weight: bold;
        }
      }
      
      .crud-row {
        margin-bottom: 0.25em;
      }
      
      img {
        width: 100px;
        height: 100px;
      }
      
      .rating {
        float: none;
        
        label {
          font-size: 100%;
        }
      }
    }
  }
  
  .credentials { 
    #frm-signup {
      display: none;
    }
    
    .actions {
      float:right;
      margin-top:0.5em
    }
  }
}
