<div class="container-fluid top-nav">
    <div class="row nav-items text-center">
        <div class="col-xs-4 username-wrapper">
            {% if app.user %}Welcome {{ app.user.username }}!{% endif %}
        </div>
        
        <div class="col-xs-4 title">
            <a href="{{ path('homepage') }}" class="logo-wrapper">
                {% image
                    '@ATSMovieBundle/Resources/public/images/homepage-icon.png'
                    output='images/homepage-logo.png'
                %}
                    <img src="{{ asset_url }}" alt="Logo" class="logo" />
                {% endimage %}
            </a>
            
            <h4>Austin's Movie Manager</h4>
        </div>
        
        <div class="col-xs-4 login-container{% if error is defined %} hidden{% endif %}">
            {% if app.user %}
                <a href="{{ logout_path('main') }}" class="btn btn-sm btn-secondary">Logout</a>
            {% else %}
                <button id="btn-login" type="button" class="btn btn-sm btn-primary">Login</button>
            {% endif %}
        </div>
    </div>
</div>