{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    
{% endblock %}

{% block body %}
    
    {% embed '@ATSMovie/Default/components/search.html.twig' %}
    {% endembed %}
    
    <div class="available-movies">
        {{ render(controller('ATSMovieBundle:Movie:get', {
            '_format' : 'html'
        })) }}
    </div>

{% endblock %}