{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@ATSMovieBundle/Resources/public/js/controller/Default/index.js'
        output='assets/compiled/scripts/controllers/default-index.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    
    {% embed '@ATSMovie/Default/components/search.html.twig' %}
    {% endembed %}
    
    <div class="available-movies">
        <div class="row">
            {{ render(controller('ATSMovieBundle:Movie:get', {
                '_format' : 'html'
            })) }}
        </div>
    </div>

    {% embed '@ATSMovie/Default/components/login.html.twig' %}
    {% endembed %}
{% endblock %}