<form id="frm-create" method="post" action="{{ path('put_movie') }}" class="container-fluid">
    <div>
        <div class="row">
            <label for="title" class="col-xs-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required"></span>
                Title:
            </label>
    
            <div class="col-xs-9">
                <input id="title" type="text" name="title" class="form-control" placeholder="Title..." pattern=".{1,50}" required />
            </div>
        </div>
    </div>
    
    <div>
        <div class="row">
            <label for="format" class="col-xs-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required"></span>
                Format:
            </label>
    
            <div class="col-xs-9">
                <select id="format" class="chosen-select form-control" name="format" data-placeholder="Format..." required>
                    <option></option>
                    <option value="Streaming">Streaming</option>
                    <option value="DVD">DVD</option>
                    <option value="VHS">VHS</option>
                </select>
            </div>
        </div>
    </div>
    
    <div>
        <div class="row">
            <label for="length" class="col-xs-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required. In minutes."></span>
                Run-time:
            </label>
    
            <div class="col-xs-9">
                <input id="length" type="number" name="length" class="form-control" placeholder="Duration in minutes..." min="1" max="499" required />
            </div>
        </div>
    </div>
    
    <div>
        <div class="row">
            <label for="year" class="col-xs-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required"></span>
                Year:
            </label>
    
            <div class="col-xs-9">
                <select id="year" class="chosen-select form-control" name="year" data-placeholder="Year..." required>
                    <option></option>
                    
                    {% for i in 1801..2099 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    
    <div>
        <div class="row">
            <label for="rating" class="col-xs-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required"></span>
                Rating:
            </label>
    
            <div class="col-xs-9">
                {% embed '@ATSMovie/Movie/components/rating.html.twig' with {
                    'create_flow' : true
                } %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div class="actions text-right">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    
    <input name="_method" value="put" hidden/>
</form>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>